.img-container{

    display: flex;
    justify-content: center;
    /* max-width: 100vw; */
    flex-wrap: wrap;
    gap: 5px;
}

img{
    width: 20%;
    height: 20%;
}

h1{
    text-align: center;
    color: rgb(216, 145, 216);
    max-width: 60%;
    margin: 40px auto;
}